version: "3.7"

volumes:
  data:

networks:
  default:

services:
  postgres:
    image: ${REGISTRY_URL}/${COMPOSE_PROJECT_NAME}-main:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-postgres
    command: ["postgres"]
    volumes:
      - "data:/data"
      - "./.secret.env:/.secret.env"
    env_file: .env
    ports:
      - "127.0.0.1:5432:5432"
    logging:
      driver: syslog
      options:
        tag: "docker/${COMPOSE_PROJECT_NAME}-postgres"

  django:
    image: ${REGISTRY_URL}/${COMPOSE_PROJECT_NAME}-main:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-django
    command: ["django"]
    depends_on: ["postgres"]
    volumes:
      - "data:/data"
      - "./.secret.env:/.secret.env"
    env_file: .env
    logging:
      driver: syslog
      options:
        tag: "docker/${COMPOSE_PROJECT_NAME}-django"

  nginx:
    image: ${REGISTRY_URL}/${COMPOSE_PROJECT_NAME}-main:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-nginx
    depends_on: ["django"]
    command: ["nginx"]
    volumes:
      - "./.secret.env:/.secret.env"
      - "data:/data"
    env_file: .env
    ports:
      - "${SERVER_IP}:80:80"
      - "${SERVER_IP}:443:443"
    logging:
      driver: syslog
      options:
        tag: "docker/${COMPOSE_PROJECT_NAME}-nginx"

  redis:
    image: ${REGISTRY_URL}/${COMPOSE_PROJECT_NAME}-main:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-redis
    command: ["redis"]
    logging:
      driver: syslog
      options:
        tag: "docker/${COMPOSE_PROJECT_NAME}-redis"

  daphne:
    image: ${REGISTRY_URL}/${COMPOSE_PROJECT_NAME}-main:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-daphne
    command: ["daphne"]
    env_file: .env
    volumes:
      - "./.secret.env:/.secret.env"
    logging:
      driver: syslog
      options:
        tag: "docker/${COMPOSE_PROJECT_NAME}-daphne"

  backup:
    image: ${REGISTRY_URL}/${COMPOSE_PROJECT_NAME}-main:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-backup
    command: ["backup_daemon"]
    depends_on: ["postgres"]
    volumes:
      - "data:/data"
      - "./.secret.env:/.secret.env"
      - "./backup:/backup"
    env_file: .env
    logging:
      driver: syslog
      options:
        tag: "docker/${COMPOSE_PROJECT_NAME}-backup"

  tasks:
    image: ${REGISTRY_URL}/${COMPOSE_PROJECT_NAME}-main:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-tasks
    command: ["with_django", "/src/tasks/tasks.py"]
    depends_on: ["postgres"]
    volumes:
      - "./.secret.env:/.secret.env"
    env_file: .env
    logging:
      driver: syslog
      options:
        tag: "docker/${COMPOSE_PROJECT_NAME}-tasks"
